/* 动画的舞台 */
.rtMove {
  width: 444px;
  height: 430px;
  position: absolute;
  right: 70px;
  top: 40px;
  background-image: url(./images//banner.png);
  background-position: center bottom;
  background-repeat: no-repeat;
}

/* 动画的子元素 */
.rtMove .tuC {
  position: absolute;
  top: 228px;
  left: 168px;
  opacity: 1;
  animation: tuC 1.6s linear infinite;
}

.rtMove .tuB {
  position: absolute;
  top: 123px;
  left: 111px;
  animation: tuB 2s linear infinite;
}

.rtMove .guangA {
  position: absolute;
  top: 309px;
  left: 279px;
  animation: guangA 2s linear infinite;
}

.rtMove .guangB {
  position: absolute;
  top: 263px;
  left: 239px;
  animation: guangB 2s linear infinite;
}

.rtMove .lingxA {
  position: absolute;
  top: 194px;
  left: 126px;
  opacity: 1;
  animation: lingxA 1.6s linear infinite;
}

.rtMove .lingxB {
  position: absolute;
  top: 163px;
  left: 79px;
  opacity: 1;
  animation: lingxB 1.6s linear infinite;
}

.rtMove .lingxC {
  position: absolute;
  top: 179px;
  left: 189px;
  opacity: 1;
  animation: lingxC 1.6s linear infinite;
}

.rtMove .lingxD {
  position: absolute;
  top: 103px;
  left: 160px;
  opacity: 1;
  animation: lingxC 2.7s linear infinite;
}

.rtMove .lingxE {
  position: absolute;
  top: 104px;
  left: 95px;
  opacity: 1;
  animation: lingxB 1.2s linear infinite;
}

.rtMove .lingxF {
  position: absolute;
  top: 84px;
  left: 144px;
  opacity: 1;
  animation: lingxA 1.4s linear infinite;
}

.rtMove .chaunA {
  position: absolute;
  top: 50px;
  left: 280px;
  animation: chaunA 0.7s linear infinite;
}

.rtMove .chaunB {
  position: absolute;
  top: 38px;
  left: 318px;
  animation: chaunB 1.2s linear infinite;
}

.rtMove .tuA {
  position: absolute;
  top: 140px;
  left: 316px;
  animation: tuA 1.3s linear infinite;
}

.rtMove .tuAa {
  position: absolute;
  top: 140px;
  left: 316px;
  animation: tuAa 1.3s linear infinite;
}

.rtMove .ziA {
  position: absolute;
  top: 114px;
  left: 320px;
  animation: ziA 2.6s linear infinite;
}

.rtMove .ziB {
  position: absolute;
  top: 144px;
  left: 339px;
  animation: ziB 2s linear infinite;
}

.rtMove .ziC {
  position: absolute;
  top: 91px;
  left: 349px;
  animation: ziC 1.7s linear infinite;
}

.rtMove .ma {
  position: absolute;
  top: 247px;
  left: 303px;
}

.rtMove .tuMing {
  opacity: 0;
  animation: tuMing 0.6s linear infinite;
}

.rtMove .ren {
  position: absolute;
  top: 283px;
  left: 330px;
}

