<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- 需求: 有数据渲染数据，没数据就显示提示 -->
  <div id="app">
    <ul v-if="names.length > 0">
      <li v-for="item in names">{{item}}</li>
    </ul>
    <h4 v-else>当前names没有数据, 请求获取数据后展示</h4>
  </div>

  <script src="../lib/vue.js"></script>
  <script>
    const app = Vue.createApp({
      data() {
        return {
          // names: ['aaa', 'bbb']
          names: []
        }
      },
    })
    app.mount("#app")
  </script>
</body>
</html>