<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      table {
        border-collapse: collapse;
      }

      thead {
        background-color: #f5f5f5;
      }

      th,
      td {
        border: 1px solid #aaa;
        padding: 8px 16px;
      }

      .active {
        background-color: skyblue;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <!-- 1. 搭建界面内容 -->
      <template v-if="books.length">
        <table>
          <thead>
            <tr>
              <th>序号</th>
              <th>书籍名称</th>
              <th>出版日期</th>
              <th>价格</th>
              <th>购买数量</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in books" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.date }}</td>
              <td>{{ item.price }}</td>
              <td>
                <button>+</button>
                <span>{{ item.count }}</span>
                <button>-</button>
              </td>
              <td>
                <button>移除</button>
              </td>
            </tr>
          </tbody>
        </table>
        <h2>总价: 9999</h2>
      </template>

      <template v-else>
        <h1>购物车为空, 请添加喜欢的书籍~</h1>
        <p>商场中有大量的IT类的书籍, 请选择添加学习, 注意保护好自己的头发!</p>
      </template>
    </div>

    <script src="../lib/vue.js"></script>
    <script src="./data/data.js"></script>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            books: books,
          }
        },
      })
      app.mount('#app')
    </script>
  </body>
</html>
